/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2023, 8:48:47 AM
    Author     : User
*/


.scrollerBase-1Pkza4 {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


ol, ul {
    list-style: none;
}

.channel-1Shao0 {
    position: relative;
    max-width: 224px;
    margin-left: 8px;
}

.container-32HW5s {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 1px 0;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
}


.container-q97qHp {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .02em;
    font-family: var(--font-display);
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: var(--channels-default);
}


.privateChannelsHeaderContainer-1UWASm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 18px 8px 4px 18px;
    height: 40px;
}


.channel-1Shao0 {
    position: relative;
    max-width: 224px;
    margin-left: 8px;
}

.container-32HW5s {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 1px 0;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
}

.interactive-iyXY_x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: var(--channels-default);
}

.interactive-26HRN_ {
    cursor: pointer;
    color: var(--interactive-normal);
    border-radius: inherit;
}

.link-39sEB3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
}

.avatarWithText-1tTt2S {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.avatar-1HDIsL, .layout-1LjVue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.layout-1LjVue {
    min-width: 0;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
}

.avatar-1HDIsL {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.avatar-1HDIsL, .layout-1LjVue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.linkButtonIcon-7rsZcu {
    width: 24px;
    height: 24px;
}

.content-66wMin {
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.content-66wMin, .name-2m3Cms {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nameAndDecorators-2A8Bbk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.overflow-1wOqNV {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

.subText-3Sk0zy {
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subText-3Sk0zy:empty {
    display: none;
}


