<div>
    <div class="reply-message reply-message-with-avatar"></div>
    <div class="avatar-wrapper">
        <div class="avatar"><img src="assets/03b61af036522b4ea91f88c339e320c5.webp?size=128">
        </div>
        <div>
            <h2><strong class="username" title="#4651">Ivan V</strong><span class="info time">9/27/2022, 3:37:35
                    PM</span></h2>
            <div class="message">
                <p>You know something Michael?

                    I can't lie to you. That last comment really grinds my gears.

                    Do you know why? Consider this Task List Report you're wanting...

                    You gave me this job 5 business days ago. The next day you gave me another emergency to solve
                    regarding Erina Fair's KPI figures. The Erina Fair problem took two business days to debug and fix
                    completely. And I had to fix that in the middle of this job.

                    My point is YOU are responsible for the errors and delays that enter our workflow. Nobody else. It's
                    the way you manage people. Everything's an emergency. Everything's dialled up to eleven.

                    Regarding this job? You didn't give me a brief, you didn't give me a design.

                    You didn't sit down with me and tell me what you wanted, or why you wanted it.

                    Instead, you let Jackson fill me in on the details. And it turns out he was getting me to design
                    what he thought Ozland wanted, rather than what YOU wanted.

                    Worse yet, by your own admission nobody has been using the Task List feature, which means
                    nobody had any valid data that I could use to build a report from.

                    So after we finally got our heads around what YOU wanted, here's what we've been doing.</p>
            </div>
            <div class="reactions"></div>
        </div>
    </div>
</div>